<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>svGuardarConsumidor</servlet-name>
        <servlet-class>Servlets.svGuardarConsumidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svGuardarUsuario</servlet-name>
        <servlet-class>Servlets.svGuardarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svGuardarQueja</servlet-name>
        <servlet-class>Servlets.svGuardarQueja</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svGuardarConsumidor</servlet-name>
        <url-pattern>/svGuardarConsumidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svGuardarUsuario</servlet-name>
        <url-pattern>/svGuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svGuardarQueja</servlet-name>
        <url-pattern>/svGuardarQueja</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
